.fuckAll {
  width: 100%;
  justify-content: space-around;
  display: flex;
}
.reading-container {
  width: 100%;
  height: 60vh;
  margin: auto;
  border-radius: 20px;
  margin-top: 25px;
  background-color: #000;
  width: 80%;

  margin-bottom: 20px;
  overflow-y: hidden;
}

.now-reading {
  margin-left: 33px;
  height: 77%;
  width: 72%;
  object-fit: cover;
  border-radius: 20px;
}
.contain {
  width: 100%;
  height: 100%;
}
.book-info {
  overflow-y: auto;
  gap: 5%;
  width: 100%;
  height: 100%;
  /* flex-direction: column; */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /* align-content: center; */
  color: #fff;
  left: 0;
  padding: 0px 19px 0;
}
.curr-button {
  align-self: self-end;
  background-color: #fff;
  margin-bottom: 1rem;
  display: flex;
  color: #000;
  height: 6vh;
  font-size: 13px;
  width: 40%;
  justify-content: center;
  float: right;
  margin-right: 20px;
  border-radius: 14px;
  align-items: center;
}
.goIcon {
  font-size: 22px;
  margin-left: 7px;
  height: 21px;
  color: black;
}
.curr-title {
  /* position: absolute; */
  padding-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
  padding-top: 3rem;
}
.curr-desc {
  padding-bottom: 10px;
  font-size: 1em;
}
.curr-author {
  font-size: 1.2em;
}
a {
  text-decoration: none;
}
.pt-1-sec {
  width: 34rem;
  height: 5rem;
}
.pt-left {
  margin-left: 5rem;
}

.pt-2-1 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 10px;
  transition: 2s ease-in-out;
}

.media-container {
  position: relative;
  width: 51%;
  gap: 10px;
  margin-left: 1rem;
}

.media-scroller,
.media-group {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
}

.media-scroller {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;

  scroll-padding-inline: 3rem;
  gap: 10px;
  margin-left: 2.3rem;
}

.media-headline {
  padding-left: 4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.scroll-arrow {
  font-size: 3rem;
}
.headling {
  font-size: 1.6em;
  font-weight: bold;
}
.addBook-error-handle {
  width: 1024px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-logo {
  width: 25%;
  height: 72%;
  margin-left: 3rem;
}
.pt-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 6rem;
  align-items: center;
}
.curr-pt-2 {
  position: relative;
  gap: 10px;
  display: flex;
  width: 63%;
  flex-direction: column;
  justify-content: center;
}
.curr-pt-1 {
  width: 32%;
}
.empty-Lib-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 24vh;
  border-radius: 14px;
  justify-content: center;
  border: 1px solid #e5e7eb;
  flex-direction: column;
}
.bold-sub-head {
  font-weight: bold;
  margin-bottom: 1rem;
}

.ui.progress:last-child {
  margin: 0 !important;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}
.curr-pt-3 {
  border-radius: 3px;
  width: 30%;

  /* height: 8px; */
  margin-bottom: 1rem;
}

.ui.progress .bar {
  background-color: #6d4baa !important;
  
  border-radius: 6px;
}
.progress {
  text-align-last: center;
}
.input-centered {
  display: flex;
  text-align-last: center;
  margin-top: 1rem;
}
.library-not-empty-to-show-the-fucking-add-book-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-heightx4 {
  line-height: 4;
}
.default-width {
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 300px) and (max-width: 750px) {
  .now-reading {
    height: 100%;
    margin: auto;
    width: 61%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
  }
  .input-centered {
    width: 80%;
  }
  .book-info {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
  }
  .curr-pt-1 {
    height: 40%;
    width: 100%;
  }
  .curr-pt-2 {
    position: relative;
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .curr-title {
    font-size: 2em;
    font-weight: bold;
    padding-top: 0 !important;
  }
  .curr-button {
    width: 100%;
  }
  .curr-pt-3 {
    border-radius: 3px;
    width: 97%;
    margin-bottom: 1rem;
  }
  .curr-desc {
    display: none;
    padding-bottom: 10px;
    font-size: 1rem;
  }
}
